.ipynb_checkpoints
.DS_Store
__pycache__
Untitled*.ipynb
.venv
scratch

build
doc/build
dist
*.egg-info
.eggs
.pypirc
!skts.c
!np_datetime.c
!np_datetime_strings.c
*.c
*.cpp
*.a
*.com
*.class
*.dll
*.exe
*.pxi
*.o
*.py[ocd]
*.so
.build_cache_dir
MANIFEST
*.sublime-*

.#*
*\#*\#
[#]*#
*~
*$
*.bak
*flymake*
*.iml
*.kdev4
*.log
*.swp
*.pdb
*.zip
.project
.pydevproject
.settings
.idea
.vagrant
.noseids
.ipynb_checkpoints
.tags
.cache/
.vscode/

doc/source/generated
doc/source/user_guide/styled.xlsx
doc/source/reference/api
doc/source/_static/*.html
doc/source/vbench
doc/source/vbench.rst
doc/source/index.rst
doc/build/html/index.html

.tox
.ropeproject
*.whl
**/wheelhouse/*
pip-wheel-metadata
.coverage
coverage.xml
coverage_html_report
.mypy_cache
*.pytest_cache
.hypothesis/

# test results
/reports


# SCM version info
_version.py

# Terraform
.terraform
.terraform.lock.hcl
terraform.tfstate*
